body {
    margin: 0px;
    background-color: #1F1F1F;
}

a {
    text-decoration: none;
}

ul li {
    list-style-type: none;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    font-size: 20px;

    a {
        color: #FFFFFF;

        &:hover {
            color: #EF421C;
        }
    }
}

p,
span,
input,
label {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
}

p {
    text-align: left;
    margin-bottom: 50px;
}

h1,
h2,
h3 {
    font-family: "Paytone One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
}