main {
    margin: 0px 80px;
}

header {
    background-color: #1F1F1F;
    margin-top: 30px;
    margin-block-end: 20px;

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 35px 80px;

        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
    }
}

footer {
    background-color: #797979;
    margin-top: 150px;
    height: 250px;
    width: 100%;
}