@import 'fonts';
@import 'layout';
@import 'formulario';
@import 'galeria';
@import 'mediaqueries';

@mixin font($family, $weight: 400, $style: normal, $size: 16px, $color: #000) {
    font-family: $family;
    font-weight: $weight;
    font-style: $style;
    font-size: $size;
    color: $color;
}

@mixin border($width: 1px, $style: solid, $color: #ccc, $radius: 0px) {
    border: $width $style $color;
    border-radius: $radius;
}

body {
    margin: 0px;
    background-color: #1F1F1F;
}

.logo-lu {
    width: 70px;
    right: auto;
    margin-left: 30px;
}

.color-icon {
    color: #D0F456;
}

ul li {
    list-style-type: none;
    @include font("Poppins", 600, normal, 20px, #FFFFFF);

    a {
        color: #FFFFFF;

        &:hover {
            color: #EF421C;
        }
    }
}

.color-icon-menu {
    color: #FFFFFF;
}

.main-img {
    width: 100%;
}

.texto-principal {
    padding: 50px 50px 0px 60px;
    display: flex;
    text-align: center;
}

.contenedor-imagen-proyectos {
    display: block;
    text-align: center;
    margin-top: 30px;
}

.lista-servicios li {
    list-style-type: circle;
    @include font("Poppins", 600, normal, 20px, #FFFFFF);
}

.items {
    list-style-type: none;
    @include font("Poppins", 400, normal, 20px, #FFFFFF);
    text-align: justify;
}

span {
    @include font("Poppins", 400, normal, 20px, #FFFFFF);
    text-align: center;
}

p {
    @include font("Poppins", 400, normal, 20px, #FFFFFF);
    text-align: center;
    margin-bottom: 50px;
}

h1,
h2,
.h2-servicios {
    @include font("Paytone One", 400, normal, 80px, #FFFFFF);
}

.contenedor-texto-destacado {
    display: flex;
    flex-direction: column;
    @include border(1px, solid, #ccc, 15px);
    padding: 50px;
    width: 100%;
    background-color: #444444;
    margin: 20px 0px;

    h2 {
        @include font("Paytone One", 400, normal, 35px, #D0F456);
        text-align: center;
        padding: 0px 50px;
    }
}

.contenedor-reseñas {
    display: flex;
    justify-content: center;
}

.contenedor-texto-destacado2 {
    display: inline-block;
    @include border(1px, solid, #ccc, 15px);
    margin-right: 20px;
    width: 45%;
    background-color: #444444;
    padding: 60px 60px;
}

.contenedor-brand {
    display: inline-block;
    @include border(1px, solid, #ccc, 15px);
    width: 45%;
    padding: 50px;
    background-color: #444444;
    margin: 50px 0px;

    h2 {
        @include font("Paytone One", 400, normal, 40px, #D0F456);
        text-align: left;
    }
}

.contenedor-packs {
    display: flex;
    justify-content: center;
}

h3 {
    @include font("Paytone One", 400, normal, 35px, #4F84FA);
}

input {
    display: block;
}

svg {
    color: #D0F456;
    width: 20px;
    height: 20px;

    &:hover {
        color: #4F84FA;
    }
}

nav ul li a {
    display: inline;
    padding: 10px 20px;
    text-decoration: none;
    color: #FFFFFF;
}

.pack-inicial h2 {
    @include font("Paytone One", 400, normal, 35px, #D0F456);
}

.pack-avanzado {
    background-color: #444444;
    @include border(1px, solid, #ccc, 15px);
    padding: 30px;
    margin-bottom: 20px;
    height: 400px;

    h2 {
        @include font("Paytone One", 400, normal, 35px, #D0F456);
    }
}

.parent-icons {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    margin: 70px 130px;
    transform: scale(2);
}

.span-copyright {
    display: block;
    text-align: center;
    @include font("Poppins", 400, normal, 15px, #FFFFFF);
    margin: 40px;
}